:root {
  --color-background: #222;
  --color-font: #fafafa;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--color-background);
  color: var(--color-font);
}
header h1 {
  text-transform: uppercase;
  font-size: 4rem;
}
header a {
  color: var(--color-font);
}
header i {
  font-size: 4rem;
}
/* MAIN */
main {
  height: 100%;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  padding: 4rem;
}
main section {
  display: flex;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}
main ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vw;
  width: 8vw;
  background-color: #3498db;
  border: 0.4rem solid #222;
  cursor: pointer;
}
main ul li i {
  font-size: 8rem;
}
main input {
  display: block;
  background-color: #f1c40f;
  color: #222;
  border: #222 1px solid;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem;
  margin: 4rem auto;
  cursor: pointer;
}
main input:hover {
  transition: 0.4s;
  transform: scale(1.04);
}
main input:active {
  transition: 0.4s;
  transform: scale(0.9);
}
/* FOOTER */
footer {
  background-color: var(--color-background);
}
footer p {
  color: var(--color-font);
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 4rem;
  }
  header h1 {
    font-size: 8rem;
  }
  header i {
    font-size: 8rem;
  }
  main {
    padding: 8rem 0;
  }
  main ul li {
    height: 28vw;
    width: 28vw;
  }
  main input {
    font-size: 8rem;
    padding: 2rem;
    margin: 8rem auto;
  }
}
