:root {
  --color-background: #222;
  --color-font: #fafafa;
}
header h1 {
  background-color: var(--color-background);
  color: var(--color-font);
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
}
main {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  padding: 4rem;
}
main section {
  width: 100%;
}
main ul {
  display: flex;
  flex-direction: row;
  width: 12rem;
  margin: 0 auto;
}
main ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background-color: #3498db;
  border: 1px solid #222;
  cursor: pointer;
}
main ul li i {
  font-size: 2rem;
}
main input {
  display: block;
  background-color: #27ae60;
  color: #222;
  border: #222 1px solid;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-weight: 900;
  max-width: 8rem;
  padding: 0.8rem;
  margin: 4rem auto;
  cursor: pointer;
}
footer {
  background-color: var(--color-background);
}
footer p {
  color: var(--color-font);
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
}
